body{
    background-color: #202224 !important;
    padding: 0;
    margin: 0;
    color: white !important;
}
.nav-bar-bg{
    background: #08667e;
}
.nav-link{
    color:white !important;
}
.container-alert{
    width: 25vw;
}

.about-form{
    width: 100%;
}
.form-login{
    width: 17vw;
}
.container-content{
    width: 100vw;
    height: 100vh;
}