<div class="container-content d-flex justify-content-center align-self-center">
    <form class="form-login d-flex flex-column justify-content-center" method="POST" action="/submit-login">
        <div class="mb-3">
          <label for="usernameInput" class="form-label">User name</label>
          <input type="username" class="form-control" id="usernameInput" aria-describedby="emailHelp" name="username">
          <div id="username" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
