{{ define "navbar" }}
    <div class="container-nav-bar">
        <div class="container-nav-bar-top">
            <div class="container-nav-bar-icon">
                <span class="material-symbols-outlined">
                    home
                </span>
                <a href="/"> 
                    Home
                </a>
            </div>
            <div class="container-nav-bar-icon">
                <span class="material-symbols-outlined">
                    sunny
                </span>
                <a href="/weather"> 
                    Weather
                </a>
            </div>
            <div class="container-nav-bar-icon">
                <span class="material-symbols-outlined">
                    info
                </span>
                <a href="/about"> 
                    About
                </a>
            </div>
        </div>
        <div class="container-nav-bar-bot">
            <div class="container-nav-bar-img">
                <img src="imgs/gopher_small_1.png" alt="">
            </div>
        </div> 
    </div>
{{ end }}
